footer{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    background-color: rgb(66, 194, 255);

}

.project-title{
    font-size: 150%;
    left: 0%;
}

.project-img{
    width: 15%;
    float: right;
}

.tag{
    border-radius: 10%;
    background-color: darkgray;
    position: center;
}

.solid{
    margin: 0;
}

.div-tag{
    margin-bottom: 2%;
    width: 100%;
}

.now{
    background-color: rgb(66, 194, 255);
}

.now:hover{
    background-color: rgb(66, 194, 255);
    filter: brightness(90%);
}