{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="box">
            <div class="field">
                <div class="control">
                    <form method="post" action="/add-project">
                        <input placeholder="Tytuł" type="text" class="project-title input">
                        <div>
                        <p>Logo projektu (96x96)</p>
                            <input type="file" class="input" placeholder="Dodaj LOGO">
                        </div>
                        <input placeholder="Opis" type="text" class="is-fullwidth input">
                        <hr class="solid" style="margin-bottom: 2%; margin-top: 2%">
                        <p>Zdjęcie przykładowe Programu</p>
                        <input type="file" class="input" style="width: 100%; margin: 0">
                        <hr class="solid" style="margin-bottom: 2%; margin-top: 2%">
                        <input class="input div-tag is" type="text" placeholder="TAG">
                        <input class="input is-fullwidth" type="url" style="background-color: rgb(66, 194, 255); border-color: black" placeholder="Link do REPO">
                        <button type="submit" style="margin-top: 10px; background-color: red" class="button is-fullwidth">Dodaj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}