<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MJJZ Project</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/fav.png') }}" type="image/png">
    </head>
    <body>
        <section class="hero is-primary is-fullheight" style="background-color: rgb(66, 194, 255)">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <a href="{{ url_for('index') }}" class="navbar-item now" style="background-color: rgb(66, 194, 255)">
                                    Główna
                                </a>
                                <a href="{{ url_for('project') }}" class="navbar-item now" style="background-color: rgb(66, 194, 255)">
                                    Projekty
                                </a>
                                {% if not current_user.is_authenticated %}
                                    <a href="{{ url_for('login') }}" class="navbar-item now" style="background-color: rgb(66, 194, 255)">
                                        Zaloguj
                                    </a>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                    <a href="{{ url_for('add_project') }}" class="navbar-item now" style="background-color: rgb(66, 194, 255)">
                                        Dodaj Projekt
                                    </a>
                                    <a href="{{ url_for('logout') }}" class="navbar-item now" style="background-color: rgb(66, 194, 255)">
                                        Wyloguj
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body" style="background-color: rgb(66, 194, 255)">
                <div class="container has-text-centered">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="notification is-danger" id="mess" style="background-color: orangered">
                                {{ messages[0] }}
                            </div>
                            <script>
                                setTimeout(() => {
                                      const box = document.getElementById('mess');

                                      // 👇️ hides element (still takes up space on page)
                                      box.style.display = 'none';
                                    }, 5000);
                            </script>
                        {% endif %}
                    {% endwith %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </body>
    <footer>
        <hr class="solid" style="margin: 0;">
        <h5 style="margin: 5px">Maciej Jakubowicz</h5>
    </footer>
</html>