{% extends "base.html" %}

{% block content %}
    <h3 class="title">Projects</h3>
    {% for i in data %}
        <div class="column is-4" style="float: left">
                <div class="box">
                    <div class="field">
                        <div class="control">
                            <a class="project-title">{{ i[0] }}</a>
                            <img class="project-img" src="{{ url_for('static', filename="img/"+i[4]) }}">
                            <p class="is-large is-fullwidth">{{ i[1] }}</p>
                            <hr class="solid" style="margin-bottom: 2%; margin-top: 2%">
                            <img style="width: 100%; margin: 0" src="{{ url_for('static', filename="img/"+i[5]) }}">
                            <hr class="solid" style="margin-bottom: 2%; margin-top: 2%">
                            <div class="div-tag">
                                {% for j in i[3] %}
                                    <p class="tag">{{ j }}</p>
                                {% endfor %}
                            </div>
                            <a href="{{ i[2] }}">
                                <button class="button is-fullwidth" style="background-color: rgb(66, 194, 255); border-color: black">GIT Repo</button>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    {% endfor %}
{% endblock %}